.footer{
    width: 100%;
    height: 40vh;
    background-color: #80011F;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 50px 30px;
    .col{
        .logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            .logoImg{
                width: 60px;
                height: 60px;
                background-color: #fff;
            }
            h3{
                margin-left: 10px;                
            }
        }
        h5{
            font-size: 15px;
        }
        .info{
            margin-top: 50px;
        }
    }
}