@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

header{
    width: 100%;
    height: 10vh;
    padding: 0 20px;
    background-color: #80011F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo_name{
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo{
            width: 24px;
            height: 24px;
            background-size: cover;
        }
        h3{
            margin-left: 10px;
            font-size: 30px;
            color: #F8CB54;
            font-family: "Sansation", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
    }
    .search_bar{
        input{
            width: 325px;
            height: 35px;
            border-radius: 30px;
            border: none;
            outline: none;
            padding: 0 10px;
        }
        .search{
            width: 35px;
            height: 35px;
            border-radius: 35px;
            border: none;
            margin-left: 20px;
        }
    }
    .photo_options{
        display: flex;
        flex-direction: row;
        align-items: center;
        .circle{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #fff;
            margin: 0 10px;
        }
    }
}