@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.good {
  width: 250px;
  font-family: 'Arial', sans-serif;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 

  .blockImage {
    width: 100%;
    height: 250px;
    background-color: #cbd5e1;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
  }

  .blockInfo {
    padding: 12px;

    .name {
      font-size: 24px;
      font-weight: 400;
      color: #1e293b;
      line-height: 1.4;
      min-height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Montserrat", sans-serif;
    }

    .row {

      .addCartBtn {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: none;
          background: #80011F;
          color: #64748b;
          font-size: 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease;

          &:hover {
            border-color: #6366f1;
            color: #6366f1;
          }
          
      }
        

      .current-price {
        font-size: 24px;
        font-weight: 700;
        color: #1e293b;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      .stars {
        color: #6366f1;
        font-size: 14px;
        display: flex;
        gap: 2px;
      }

      .comments {
        color: #64748b;
        font-size: 13px;
        font-style: italic;
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .price {
        display: flex;
        flex-direction: column;
        
        h2 {
          margin: 0;
          font-family: inherit;
          
        }

        

        .old-price {
          font-size: 14px;
          text-decoration: line-through;
          color: #94a3b8;
          font-weight: 400;
          margin-bottom: -4px;
        }
      }

      .addToCart {
        .addCartBtn {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: none;
          background: #80011F;
          color: #64748b;
          font-size: 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.2s ease;

          &:hover {
            border-color: #6366f1;
            color: #6366f1;
          }
        }
      }
    }
  }
}